# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Jupyter Notebooks
.ipynb_checkpoints

# VS Code
.vscode/

# Environment
.env
.venv/
venv/
ENV/

# Output
recon_out/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Misc
*.bak
*.swp
*.tmp
